.default-intro {
  padding: $SCALE-5 0;  
}

.intro__title {
  margin-bottom: $SCALE-1; 
}

// home

.home-intro {
  margin: $SCALE-1 0;
  @media (max-width: $md) {
    flex-direction: column-reverse;
  }
}

.home-intro__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-intro__text {
  text-align: center;
  @media (min-width: $md) {
    text-align: left;
    width: 90%
  }
}

.home-intro__image {
  width: 70%;
  box-shadow: 2.5rem -2.5rem 0 0 #FF89BC;
  @media (max-width: $md) {
    display: block;
    margin: 0 auto $SCALE-2;
  }
}