{% set hasFeaturedImage = item.data.featured_image and item.data.featured_image !== '' and item.data.featured_image !== nil %}
<div class="col-lg-6 list-item__container post-list-item__outer-container">
  <a href="{{ item.url }}" rel="bookmark">
    <div class="post-list-item__inner-container">
      <div class="list-item__left post-list-item__left">
        {% if hasFeaturedImage %}
          <figure class="tint" style="--tint-color:{{item.data.color}}42">
            <img src="{{ item.data.featured_image }}" class="list-item__image post-list-item__image" style="color: {{item.data.color}};">
          </figure>
        {% endif %}
        <p>
        {% if item.date and hasFeaturedImage %}
          <time class="mono list-item__date post-list-item__date" datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
        {% endif %}
        </p>
      </div>
      <div class="list-item__right post-list-item__right">
        <h2 class="list-item__title post-list-item__title">{{ item.data.title }}</h2>
        <p class="list-item__description post-list-item__description">
        {% if item.date and not hasFeaturedImage %}
          <time class="mono list-item__date post-list-item__date" datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
        {% endif %}
        {% set description = item.data.description %}
        {% if description and description !== '' and description !== nil %}
          {{ item.data.description }}
        {% else %}
          {{ item.templateContent | excerptFilter }}
        {% endif %}
        </p>
        <p class="mono list-item__read-more post-list-item__read-more">Read more →</p>
      </div>
    </div>
  </a>
</div>