{% extends 'layouts/base.njk' %}

{% set introSummary %}
<div class="l-stack">
  {% if description %}
    <p class="post-description">{{ description | safe }}</p>
  {% endif %}
</div>
{% endset %}

{% block content %}
  {% set introTitle = title %}
  {% set introDescription = description %}
  {% include "partials/global/intro.njk" %}
  {{ content | safe }}
{% endblock %}

