{% extends 'layouts/base.njk' %}

{% set authorName = author if author else 
  site.authorName %}

<p class="post-page__meta">
  {% if date %}
  Posted by
  on <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %} (about a {{ helpers.getReadingTime(content) }} minute read).
</p>

{% block content %}

<article>
  {% if featured_image %}
    {% set color = page.color %}
    {% include "partials/post-intro.njk" %}
  {% endif %}
  
  <div class="post-page__container">
    {% if not featured_image %}
      {% set introTitle = title %}
      {% set introDescription = description %}
      {% include "partials/intro.njk" %}
    {% endif %}
    <div class="post-page__content">
      {{ content | safe }}
    </div>

    <p class="post-page__tags-text">
      <strong>Tags: </strong>
      {% for item in tags %}
      <a class="post-page__indv-tag" href="/tags/{{ item }}">{{ item }}</a>{% if not loop.last %}, {% endif%}{% endfor %}
    </p>
  </div>
</article>

{% if tags %}{% endif %}

{% endblock %}