{% extends 'layouts/base.njk' %}

{% block content %}
  <div class="l-stack l-stack--large l-stack--large">
    <div class="intro default-intro about-intro dot-grid-bg">
      <div class="about-row">
        <div class="about-intro__left">
          <img src="/uploads/about.jpg" class="about-intro__image">
        </div>
        <div class="about-intro__right">
          <h1 class="intro__title default-intro__title">{{  about.title  }}</h1>
          <p class="default-intro__desc large-paragraph">{{ about.description }}</p>
        </div>
      </div>
    </div>
    {% for section in about.sections %}
      <div class="about-section">
        {% set sectionTitle = section.title %}
        {% set sectionColor = section.color %}
        {% set sectionHeadingClass = 'about-section-heading' %}
        {% include "partials/section-heading.njk" %}
        {{ section.content | safe }}
      </div>
    {% endfor %}
  </div>
{% endblock %}