{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introTitle = contact.title %}
{% set introDescription = contact.description %}

{% block content %}
  <div class="contact-page__container">
    {% include "partials/global/intro.njk" %}

    {% set sectionTitle = "Contact Form" %}
    {% set sectionColor = "#CBF0E8" %}
    {% set sectionHeadingClass = 'about-section-heading' %}
    {% include "partials/global/section-heading.njk" %}

    <form name="contact" method="POST" action="/success" netlify netlify-honeypot="bot-field">
      {% for field in contact.form_fields %}
        {% if field.type === 'single_line' %}
          <input class="form-control form-control-text" type="text" name="{{field.title}}" placeholder="{{field.title}}"/>
        {% endif %}

        {% if field.type === 'multiline' %}
          <textarea class="form-control form-control-text" name="{{field.title}}" placeholder="{{field.title}}" rows="8"></textarea>
        {% endif %}

        {% if field.type === 'dropdown' %}
          <select class="form-control" name="{{field.title}}">
            <option selected>{{field.title}}</option>
            {% for option in field.dropdown_options %}
              <option value="{{option }}">{{option}}</option>
            {% endfor %}
          </select>
        {% endif %}

      {% endfor %}

      <div data-netlify-recaptcha="true"></div>
      <div class="honeypot"><input name="bot-field"/></div>

      <button type="submit" class="btn contact__submit-button">{{contact.send_button}}</button>
    </form>
  </div>
{% endblock %}