--- 
title: Blog Posts 
pagination: 
  data: collections.posts
  size: 5
  alias: posts 
---

{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introTitle = title %}

{# Post list content #}
{% set postListItems = posts %}

{% if postListItems.length < collections.posts.length %}
  {% set paginationNextText = 'Next' %}
  {% set paginationNextUrl = pagination.nextPageHref %}
  {% set paginationPrevUrl = pagination.previousPageHref %}
{% endif %}

{% block content %}
  {% include "partials/intro.njk" %}
  {% include "partials/post-list.njk" %}
  {% include "partials/pagination.njk" %}
{% endblock %}