--- 
title: Blog Posts 
pagination: 
  data: collections.posts
  size: 8
  alias: posts 
---

{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introTitle = title %}

{# Post list content #}
{% set listItems = posts %}

{% block content %}
  {% include "partials/intro.njk" %}
  {% include "partials/post-list.njk" %}
  {% if listItems.length < collections.posts.length %}
    {% include "partials/pagination.njk" %}
  {% endif %}
{% endblock %}