--- 
title: Tags 
pagination: 
  data: collections 
  size: 1
  alias: tag 
  filter: 
    - all 
    - nav 
    - post 
    - posts 
    - tagList 
addAllPagesToCollections: true 
permalink: /tags/{{ tag }}/ 
---

{% extends 'layouts/base.njk' %}

{# Post list content #}
{% set listItems = collections[tag] %}
{% set introTitle %}#{{ tag }}{% endset %}
{% set introDescription %}{{ listItems.length}} posts{% endset %}

{% block content %}
  {% include "partials/intro.njk" %}
  {% include "partials/post-list.njk" %}
{% endblock %}