---
title: My Work
description: "Working papers, conferences, and poster paper presentations."
---

{% extends 'layouts/base.njk' %}

{# Button #}

{% block content %}
    {% include "partials/intro.njk" %}

    {# External posts #}
    {% set postListHeading = 'Publications' %}
    {% set postListItems = collections
        .publications
        .slice(0, 4) %}
    {% include "partials/work-list.njk" %}
    {% set buttonText = "See More" %}
    {% set buttonLink = '/work' %}
    {% set buttonClasses = 'btn-center' %}
    {% include "partials/button.njk" %}

    {# External posts #}
    {% set postListHeading = 'Presentations' %}
    {% set postListItems = collections
        .presentations
        .slice(0, 4) %}
    {% include "partials/work-list.njk" %}
    {% set buttonText = "See More" %}
    {% set buttonLink = '/work' %}
    {% set buttonClasses = 'btn-center' %}
    {% include "partials/button.njk" %}

    {# External posts #}
    {% set postListHeading = 'External posts' %}
    {% set postListItems = collections
        .externalPosts
        .slice(0, 4) %}
    {% include "partials/work-list.njk" %}
    {% set buttonText = "See More" %}
    {% set buttonLink = '/work' %}
    {% set buttonClasses = 'btn-center' %}
    {% include "partials/button.njk" %}

{% endblock %}