---
title: My Work
description: "Working papers, conferences, and poster paper presentations."
---

{% extends 'layouts/base.njk' %}

{# Button #}

{% block content %}
    {% set introTitle = title %}
    {% set introDescription = description %}
    {% include "partials/intro.njk" %}

    {# External posts #}
    {% set listHeading = 'Publications' %}
    {% set collapseTarget = 'publications-collapse' %}
    {% set listItems = collections
        .publications
        .slice(0, 4) %}
    {% set hiddenListItems = collections
        .publications
        .slice(4, collections.publications.size) %}
    {% include "partials/work-list.njk" %}

    {# External posts #}
    {% set listHeading = 'Presentations' %}
    {% set collapseTarget = 'presentations-collapse' %}
    {% set listItems = collections
        .presentations
        .slice(0, 4) %}
    {% set hiddenListItems = collections
        .presentations
        .slice(4, collections.presentations.size) %}
    {% include "partials/work-list.njk" %}

    {# External posts #}
    {% set listHeading = 'External posts' %}
    {% set collapseTarget = 'external-posts-collapse' %}
    {% set listItems = collections
        .externalPosts
        .slice(0, 4) %}
    {% set hiddenListItems = collections
        .externalPosts
        .slice(4, collections.externalPosts.size) %}
    {% include "partials/work-list.njk" %}

{% endblock %}