{% extends 'layouts/base.njk' %}

{# Button #}

{% block content %}
    {% set introTitle = site.workTitle %}
    {% set introDescription = site.workDescription %}
    {% include "partials/global/intro.njk" %}

    {% set publications = collections
        .publications
        .slice(0, site.numLatestPublicationsWorkPage) %}
    {% set presentations = collections
        .presentations
        .slice(0, site.numLatestPresentationsWorkPage) %}
    {% set externalPosts = collections
        .externalPosts
        .slice(0, site.numLatestExternalPostsWorkPage) %}

    {# External posts #}
    {% set sectionTitle = 'Latest Work' %}
    {% set sectionHeadingClass = 'work-section-heading' %}
    {% include "partials/global/section-heading.njk" %}

    <div class="list">
        <div class="row list-row work-list-row list-row-no-padding-bottom">

            {% for item in publications %}
                {% include "partials/list/work-list-item.njk" %}
            {% endfor %}

            {% for item in presentations %}
                {% include "partials/list/work-list-item.njk" %}
            {% endfor %}

            {% for item in externalPosts %}
                {% include "partials/list/work-list-item.njk" %}
            {% endfor %}

        </div>
    </div>
    
    {# See More Button #}
    {% set buttonText = "See More" %}
    {% set buttonClasses = 'btn-center' %}
    {% set buttonLink = site.viewAllPresentationsFile %}
    {% include "partials/global/button.njk" %}

{% endblock %}