<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {% if not pagination.href.previous %}disabled{%endif%}">
      <a class="page-link" href="{{ pagination.href.previous }}"><- previous</a>
    </li>
    {% for href in pagination.hrefs %}
      <li class="page-item {% if loop.index === pagination.pageNumber + 1%}active{%endif%}">
        <a class="page-link" href="{{href}}">{{loop.index}}</a>
      </li>
    {% endfor %}
    <li class="page-item {% if not pagination.href.next %}disabled{%endif%}">
      <a class="page-link" href="{{ pagination.href.next }}">next -></a>
    </li>
  </ul>
</nav>