{% if featured_image %}
  <div class="row default-intro post-intro">
    <div class="col-md-6 dot-grid-bg post-intro__left">
      <img src="{{ featured_image }}" class="intro__image post-intro__image" style="color: {{color}}">
    </div>

    <div class="col-md-6 post-intro__right intro__text-container">
      <div class="post-intro__text">
        <p class="post-intro__date mono">{{ date | dateFilter}}</p>
        <h1 class="intro__title post-intro__title">{{ title }}</h1>
        <p class="post-intro__desc large-paragraph">by {{ authorName }}</p>
      </div>
    </div>
  </div>
{% endif %}