{% if listItems.length %}
  <div class="row">
    {% if listHeading %}
      {% set sectionTitle = listHeading %}
      {% set sectionHeadingClass = 'post-section-heading' %}
      {% include "partials/section-heading.njk" %}
    {% endif %}
    <div class="row list-row post-list-row">
      {% for item in listItems %}
        {% include 'partials/list/post-list-item.njk' %}
      {% endfor %}
    </div>
  </div>
{% endif %}