{% if listItems.length %}
  <div class="list">
    {% if listHeading %}
      {% set sectionTitle = listHeading %}
      {% set sectionHeadingClass = 'work-section-heading' %}
      {% include "partials/section-heading.njk" %}
    {% endif %}
    <div class="row list-row work-list-row list-row-no-padding-bottom">
      {% for item in listItems %}
        {% include "partials/list/work-list-item.njk" %}
      {% endfor %}
    </div>
    <div class="row list-row work-list-row collapse" id="{{collapseTarget}}">
      {% for item in hiddenListItems %}
        {% include "partials/list/work-list-item.njk" %}
      {% endfor %}
    </div>

    {% if hiddenListItems.length %}
      {% set buttonText = "See More" %}
      {% set shownText = "See Less" %}
      {% set buttonClasses = 'btn-center btn-collapse' %}
      {% include "partials/button.njk" %}
    {% endif %}
  </div>
{% endif %}