{% for item in navItems %}
  {% set externalAttribute = '' %}
  {% set currentAttribute = '' %}

  {% if item.external %}
    {% set externalAttribute = ' rel="external"' %}
  {% endif %}

  {% if page.url == item.url %}
    {% set currentAttribute = ' aria-current="page"' %}
  {% endif %}

  {% if navType == 'navbar' %}
    <a href="{{ item.url }}" {{ externalAttribute | safe }} {{ currentAttribute | safe }} class="nav-item {% if navMobile =='true' %}nav-mobile{% endif %}">
      <img src="{{item.icon}}" class="nav-item__icon">
      <p class="nav-link">{{ item.text }}</p>
    </a>
  {% elseif navType == 'footer' %}
    <li class="footer-link">
      <a href="{{ item.url }}" {{ externalAttribute | safe }} {{ currentAttribute | safe }}>{{item.text}}</a>
    </li>
  {% endif %}
{% endfor %}