<div id="newsletter" class="row">
  <div id="newsletter__left" class="dot-grid-bg col-lg-6">
    <h2>{{ site.newsletterTitle }}</h2>
    <p>{{ site.newsletterSubtitle }}</p>
  </div>

  <div id="newsletter__right" class="col-lg-6">
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form
        action="https://knowledgylab.us17.list-manage.com/subscribe/post?u=613c35c2ca0ad5e9868083b0d&amp;id=a5138ac12a"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate form-inline"
        target="_blank"
        novalidate
      >
        <input
          type="email"
          value=""
          name="EMAIL"
          class="required form-control"
          id="mce-EMAIL"
          placeholder="Your email address"
        />
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn newsletter__submit-button">Subscribe</button>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display: none"></div>
          <div class="response" id="mce-success-response" style="display: none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input type="text" name="b_613c35c2ca0ad5e9868083b0d_a5138ac12a" tabindex="-1" value="" />
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->
  </div>
</div>
