$left-padding: $SCALE-5;

.default-intro {
  padding: $SCALE-2 0 $SCALE-3;
  @media (min-width: $sm) {
    padding: $SCALE-5 0 $SCALE-4;
    padding-left: $left-padding;
    margin-left: -$left-padding;
  }
}

.default-intro__author {
  margin-top: $SCALE-1;
}

.intro__title {
  margin-bottom: $SCALE-1;
}

.intro__image {
  width: 70%;
  @media (max-width: $md) {
    display: block;
    margin: 0 auto $SCALE-2;
  }
}

.intro__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// home
$home-intro-padding: calc(#{$SCALE-4} + 2vh);
.home-intro {
  padding: calc(#{$SCALE-4} + 2vh) 0;
  // margin: $SCALE-1 0;
  flex-direction: column-reverse;
  @media (min-width: $md) {
    flex-direction: row;
  }
  @media (min-width: $lg) {
    padding: 0;
  }
}

.home-intro__text {
  text-align: center;
  @media (min-width: $md) {
    text-align: left;
    width: 90%;
  }
}

.home-intro__image {
  box-shadow: 2.5rem -2.5rem 0 0 $pink;
}
.home-intro__right {
  @media (min-width: $md) {
    padding: $home-intro-padding 0;
  }
}

// post intro

.post-intro {
  @media (min-width: $md) {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.post-intro__left {
  @media (min-width: $md) {
    padding: $home-intro-padding 0 calc(2 * #{$SCALE-5});
  }
}

.post-intro__image {
  object-fit: cover;
  box-shadow: -3.2vw 3.2vw;
  height: auto;
  width: 100%;
  margin-bottom: $SCALE-4;
  @media (min-width: $lg) {
    float: right;
    height: 30vw;
    width: 30vw;
  }
}

.post-intro__title {
  font-size: calc(2rem + 0.1vw);
  @media (min-width: $md) {
    font-size: calc(2.5rem + 0.3vw);
  }
}

.post-intro__text {
  @media (min-width: $md) {
    margin-top: -$SCALE-5;
    padding-left: $SCALE-3;
    text-align: left;
  }
}

.post-intro__date {
  color: $COLOR_MID;
  margin-bottom: $SCALE-1 * 0.5;
}

/* ABOUT */
.about-intro {
  padding-bottom: $SCALE-5;
}

.about-row {
  display: flex;
  flex-direction: column;
  @media (min-width: $md) {
    flex-direction: row;
  }
}

.about-intro__left {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $md) {
    justify-content: flex-end;
    padding-right: $SCALE-2;
  }
}

.about-intro__image {
  width: calc(150px + 5vw);
  height: calc(150px + 5vw);
  object-fit: cover;
  @media (min-width: $md) {
    width: 150px;
    height: 150px;
  }
  margin-bottom: $SCALE-4;
  box-shadow: -1.5rem 1.5rem 0 0 $turquoise;
}

.about-intro__right {
  text-align: center;
  @media (min-width: $md) {
    text-align: left;
  }
}
