.list {
  margin-bottom: $SCALE-5;
}

.list-row {
  padding-bottom: $SCALE-2;
  @media (min-width: $md) {
    padding-left: $SCALE-1;
  }
}

.list-row-no-padding-bottom {
  padding-bottom: 0;
}

.list-item__container {
  margin-bottom: $SCALE-2;
  @media (min-width: $md) {
    margin-bottom: $SCALE-5;
  }
  *:hover {
    text-decoration: none;
  }
}

.list-item__date {
  color: $COLOR_MID;
}

.list-item__title {
  color: black;
  margin-bottom: 1rem;
}

// POSTS

.post-list-item__outer-container {
  // dottedleft border
  background-image: linear-gradient(gray 33%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  margin-bottom: $SCALE-5;
}

.post-list-item__outer-container:nth-last-child(2),
.post-list-item__outer-container:last-child {
  @media (min-width: $lg) {
    margin-bottom: 0;
  }
}

.post-list-item__inner-container {
  display: flex;
  flex-direction: column;
  padding-left: $SCALE-1 * 0.5;

  @media (min-width: $md) {
    flex-direction: row;
    padding-right: $SCALE-3;
  }

  *:hover {
    text-decoration: none;
  }

  &:hover {
    .post-list-item__read-more {
      margin-left: 10px;
    }
  }
}

.post-list-item__left {
  @media (min-width: $md) {
    margin: $SCALE-1 $SCALE-2 0 0.3rem;
    text-align: center;
  }
}

.tint {
  position: relative;
  float: left;
  margin-left: $SCALE-1;
  margin-bottom: $SCALE-2;
}

.tint:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--tint-color);
}

.post-list-item__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: -20px -20px;
  @media (min-width: $md) {
    width: 2 * $SCALE-4;
    height: 2 * $SCALE-4;
    margin: 0;
  }
}

.post-list-item__date {
  text-align: center;
  margin-bottom: $SCALE-2;
}

.post-list-item__read-more {
  margin-top: $SCALE-2;
  font-weight: bold;
  font-family: $FONT_MONO;
  font-size: 16px;
  @include smooth-transition;
}

// WORK

.work-list-item__outer-container {
  margin-bottom: $SCALE-3;
  @media (min-width: $md) {
    border-left: 20px solid;
  }
}

// Only move on hover if it's a link
.work-list-item__outer-container a {
  &:hover .work-list-item__inner-container {
    @media (min-width: $md) {
      transform: translateX($SCALE-1 * 0.5);
    }
  }
}

.work-list-item__inner-container {
  @include smooth-transition;
  border-left: 10px solid;
  padding: $SCALE-2 0 $SCALE-1 $SCALE-2;
  @media (min-width: $md) {
    border-left: none;
    padding: $SCALE-2 $SCALE-2 $SCALE-1 $SCALE-1;
  }
}

.work-list-item__title {
  @media (max-width: $md) {
    font-size: 24px;
  }
}

.work-list-item__bottom {
  margin-top: $SCALE-2;
  @media (min-width: $sm) {
    display: flex;
    justify-content: space-between;
  }
}
