.navbar-nav {
  background-color: transparent;
  margin-top: $SCALE-2;
}

#navbar-logo {
  font-family: $FONT_HEADINGS;
  font-weight: bold;
}

$underline-height: 45%;
.nav-item {
  transition: background-size 0.2s ease-out;
  background: linear-gradient($turquoise, $turquoise) no-repeat left 127%/0
    $underline-height;
  &:hover {
    background-size: 97% $underline-height;
  }
}

.nav-link {
  font-family: $FONT_NORMAL;
  margin-left: 5px;
  font-size: calc(1rem + 0.1vw);
  color: black !important;
  display: inline;
}

.nav-item__icon {
  height: $SCALE-1;
}

.navbar-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-expand-lg .navbar-nav {
  justify-content: space-around;
  width: 100%;
}
