.navbar-nav {
  background-color: transparent;
}

.navbar-brand {
  font-family: $FONT_HEADINGS;
  font-weight: bold;
}

$underline-height: 55%;

@mixin nav-link-active {
  background-size: 97% $underline-height;
}

#navbar-desktop .nav-item {
  transition: background-size 0.2s ease-out;
  background: linear-gradient($turquoise, $turquoise) no-repeat left 127%/0 $underline-height;
  &:hover {
    @include nav-link-active;
  }
}

#navbar-desktop .nav-item.active {
  @include nav-link-active;
}

.nav-link {
  font-family: $FONT_NORMAL;
  margin-left: 10px;
  font-size: calc(1rem + 0.1vw);
  color: black !important;
  display: inline;
}

.navbar-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* MOBILE NAVBAR */

#navbar-mobile {
  @media (min-width: $md) {
    display: none;
  }
}

#navbar-mobile .nav-item__icon {
  width: $SCALE-1;
}

.nav-mobile {
  padding: 1rem $SCALE-2;
  margin: 0.25rem 0;
}

#navbar-mobile .navbar-nav {
  padding: 1rem 0 $SCALE-1;
}

.navbar-toggler {
  border: none;
  &:focus {
    outline: none
  }
}

/* DESKTOP NAVBAR */

#navbar-desktop {
  @media (max-width: $md) {
    display: none;
  }
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: $SCALE-2;
}

#navbar-desktop .navbar-nav {
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
}

#navbar-desktop .nav-item__icon {
  height: $SCALE-1;
}