.post-page__container {
  padding: 0 0 $SCALE-3;
  max-width: 650px;
  margin: 0 auto;
}

.post-page__content * {
  font-family: $FONT_NORMAL;
}

.post-page__content h1 {
  margin-top: $SCALE-4;
  padding-bottom: $SCALE-3;
}

.post-page__content h2 {
  margin-top: $SCALE-4;
  padding-bottom: $SCALE-2;
}

.post-page__content h3 {
  margin-top: $SCALE-3;
  padding-bottom: $SCALE-1;
}

.post-page__content p, li, blockquote, span {
  font-size: calc(1.1rem + 0.1vw);
  line-height: calc(1.9rem + 0.1vw);
  margin-bottom: $SCALE-1;
}

.post-page__content img {
  margin: $SCALE-2 auto;
  width: 100%
}

.post-page__content iframe {
  width: 100%;
  height: 385px;
  margin: $SCALE-1 0;
}

.post-page__content blockquote {
  font-style: italic;
  border-left: 1rem solid $COLOR_LIGHTER;
  padding-left: $SCALE-2;
  margin: $SCALE-2 0;
  color: $COLOR_MID
}

.post-page__tags-text {
  font-family: $FONT-MONO;
  margin: $SCALE-2 0 $SCALE-5;
  font-size: 15px;
}

.post-page__indv-tag {
  color: $COLOR_MID;
}

.share-buttons {
  margin: $SCALE-3 0 $SCALE-3;
}

.share-button {
  font-size: 24px;
  color: $COLOR_MID;
  padding: 0 10px;
  vertical-align: top;
}

.share-buttons__share-this {
  font-family: $FONT-MONO;
  font-size: 15px;
}