footer {
  padding-top: $SCALE-3;
  margin: $SCALE-5 0;
  border-top: 1.8px dashed $COLOR_LIGHTER;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  @media (min-width: $md) {
    text-align: left;
    flex-direction: row;
  }
}

.footer__left,
.footer__right {
  @media (min-width: $md) {
    width: 50%;
  }
}

.footer__copyright {
  font-family: $FONT_MONO;
  font-size: 11.32px;
  color: $COLOR_LIGHT;
  margin-top: $SCALE-2;
}

#footer-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: $SCALE-3;
  @media (min-width: $md) {
    justify-content: flex-end;
  }
}

.footer-link a {
  color: $COLOR_MID;
  margin-left: $SCALE-1;
  font-family: $FONT_MONO;
  font-size: 15px;
  &:hover {
    text-decoration: underline;
  }
}

#footer-social-media {
  display: flex;
  margin-bottom: $SCALE-1;
  justify-content: center;
  @media (min-width: $md) {
    justify-content: flex-end;
  }
  a {
    margin-left: $SCALE-1;
    font-size: $SCALE-1;
    color: black;
    @include smooth-transition;
    &:hover {
      color: $turquoise;
    }
  }
}

.footer__right {
  text-align: center;
  @media (min-width: $md) {
    text-align: right;
  }
}

.footer__attribution-link {
  color: $COLOR_MID
}