@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-SemiBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: $FONT_HEADINGS;
  font-weight: bold;
}

p {
  font-family: $FONT_NORMAL;
  font-size: 18px;
  color: #2b2b2b;
}

h1 {
  font-size: calc(1.525rem + 3vw);
  @media (min-width: $lg) {
    font-size: $SCALE-3;
  }
}

h4 {
  font-family: $FONT_MONO;
}

.large-paragraph {
  // line-height: 33px;
  font-size: calc($SCALE-1 + 0.1vw);
  @media (min-width: $lg) {
    font-size: 1.2rem;
  }
}

.mono {
  font-family: $FONT_MONO;
  font-size: 13px;
  color: #000000;
}
