// lazyload the images
.base-container img {
  opacity: 0;
  @include fast-transition
}

.base-container {
  padding: 0 2rem;
  @media (min-width: $lg) {
    // max-width: ;
  }
}

/** BUTTON **/

$btn-color: $turquoise;
.btn {
  background-color: $btn-color;
  border-radius: 0;
  padding: 10px 20px;
  font-weight: bold;
  font-family: $FONT_MONO;
  font-size: 18px;
  border: 1px solid $btn-color;
  &:hover {
    border: 1px solid black;
    background-color: transparent;
  }
}

.btn-center {
  display: block;
  width: fit-content;
  margin: 0 auto $SCALE-5;
}

.btn-collapse:not(.collapsed) .collapsed-text {
  display: none;
}

.btn-collapse.collapsed .shown-text {
  display: none;
}

/** DOT GRID **/

.dot-grid-bg {
  background: url("/dot-grid.png");
}

/** SECTION HEADING **/

.section-heading {
  width: 100%;
  background: linear-gradient(to top, $gold 13%, transparent 13%);
  text-align: center;
  margin-bottom: $SCALE-2;
  @media (min-width: $sm) {
    text-align: left;
  }
  @media (min-width: $md) {
    width: fit-content;
    padding-right: 4 * $SCALE-5;
  }
  h4 {
    width: fit-content;
    font-size: 17px;
    background-color: $gold;
    padding: 9px $SCALE-1;
    margin: 0 !important;
  }
}

.post-section-heading {
  margin-bottom: $SCALE-4;
}

.work-section-heading {
  @media (max-width: $md) {
    margin-bottom: $SCALE-1;
  }
}

.about-section-heading {
  margin-bottom: $SCALE-2;
}
